
body{
    text-align:center;
}

table{
     border: 1px solid red;
     border-collapse:collapse;
     text-align: center;
}

td{ 
    border: 1px solid gray;
    height: 30px;
    width: 30px;
    /*background-color: gray;*/
    background-image: url("img/back.png")
}

.cover{   
    color: red;
    opacity: 0; 
}

td.flag {
    /*background-image: url("flag.png");*/
    background-image: url("img/mark1.png")
 
}
td.mine {
    background-image: url("img/bomb.png")
}
td.count {
    color:red;
}

td.blank{
     /*background-color: white;*/
     background-image: url("img/back2.png")
      
}

tr{ 
    border: 1px solid red;
}

.move{
    /*background-color: black;
    color: black !important;*/
     background-image: url("img/back2.png")
    
}

.DefaultTable{
/*text:hidden;*/
background-color: black;
/*background-image: url("/home/yds/Bomb-yds/static/img/back.png");*/
}

.gamecontent{
    width: 300px;
    text-align: center;
    margin:0 auto;
}

.count{
    opacity:1;
}